{% extends "index.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="login-container">
    <h1>ログイン</h1>
    <form method="post">
      <label>名前またはメールアドレス:<br><input type="text" name="identifier" required></label><br>
      <label>パスワード:<br><input type="password" name="password" required></label><br>
      <button type="submit">ログイン</button>
    </form>

    <div class="center-message">
        まだアカウントをお持ちでない方は 
        <a href="{{ url_for('register') }}">ユーザー登録</a>
    </div>
</div>
{% endblock %}

