{% extends "index.html" %}

{% block title %}シフト提出{% endblock %}

{% block content %}
    <h1>シフト提出</h1>
    <form method="post">
        <label>日付: <input type="date" name="date" required></label><br>
        
        <label>勤務開始時刻:
            <select name="start_time" required>
                {% for h in range(8, 23) %}
                  <option value="{{'%02d:00' % h}}">{{'%02d:00' % h}}</option>
                  <option value="{{'%02d:30' % h}}">{{'%02d:30' % h}}</option>
                {% endfor %}
            </select>
        </label><br>
        
        <label>勤務終了時刻:
            <select name="end_time" required>
                {% for h in range(8, 23) %}
                  <option value="{{'%02d:00' % h}}">{{'%02d:00' % h}}</option>
                  <option value="{{'%02d:30' % h}}">{{'%02d:30' % h}}</option>
                {% endfor %}
            </select>
        </label><br>
        
        <button type="submit">送信</button>
    </form>
{% endblock %}
